#info {
	background:#eaf9fe;
	padding:0 10px;
}
#info li, .star-rating-box, .star-rating {
	height:17px;
	line-height:17px;
}

#info li {
	line-height: 25px;
	height:25px;
}

#info li {
	border-bottom:1px dotted #666d70;
	padding:10px 0;
	vertical-align: middle;
	-webkit-tap-highlight-color:rgba(255,255,255,0.5);
}
#info li:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
#info li:last-child {
	border:0;
}
#info .text {
	float:left;
	font-weight: bold;
}
#info .pregnant {
	color:#e15ba0;
}
#info .lose-weight {
	color:#5b97e1;
}
#info .beauty {
	color:#79a86f;
}
#info .body {
	color:#db953a;
}


.star-rating-box {
	display:inline-block;
	background: url(../images/star-rating.png) 0 0 repeat-x;
	width:110px;
	overflow: hidden;
	margin-left:20px;
}
.star-rating {
	background:url(../images/star-rating.png) 0 0 repeat-x;
	display:block;
	width:0;
}

.pregnant .star-rating {
	background-position: 0 -17px;
}

.lose-weight .star-rating {
	background-position: 0 -33px;
}
.beauty .star-rating {
	background-position: 0 -50px;
}

.body .star-rating {
	background-position: 0 -67px;
}

.zero-star {

}

.one-star {
	width:19px;
}

.two-star {
	width:45px;
}
.three-star {
	width:70px;
}
.four-star {
	width:90px;
}
.five-star {
	width:115px;
}

/*.star-rating-box {
	display:inline-block;
	background: url(images/star-rating@2x.png) 0 0 repeat-x;
	width:220px;
}
.star-rating {
	background:url(images/star-rating@2x.png) 0 0 repeat-x;
	display:block;
}

.pregnant .star-rating {
	background-position: 0 -33px;
}

.lose-weight .star-rating {
	background-position: 0 -65px;
}
.beauty .star-rating {
	background-position: 0 -99px;
}

.body .star-rating {
	background-position: 0 -132px;
}

.one-star {
	width:35px;
}

.two-star {
	width:80px;
}
.three-star {
	width:130px;
}
.four-star {
	width:170px;
}
.five-star {
	width:215px;
}*/



.act {
	color:#000;
	display:inline-block;
	float:right;
	margin-right:10px;
}