#calendar {
  margin-top:10px;
}
.arrow-left {
  width:0px;
  height:0px; 
  border-bottom:7px solid transparent;
  border-top:7px solid transparent;
  border-right:7px solid #ababab;
  font-size:0px;
  line-height:0px;
}
/* create an arrow that points right */
.arrow-right {
  width:0px; 
  height:0px; 
  border-bottom:7px solid transparent;  /* left arrow slant */
  border-top:7px solid transparent; /* right arrow slant */
  border-left:7px solid #ababab; /* bottom, add background color here */
  font-size:0px;
  line-height:0px;
}
#cal-op {
	background: #eaeaea;
	height:40px;
	line-height:40px;
	color:#fff;
	font-weight:bolder;
	padding:0 10px;
	font-size:18px;
	text-align: center;
	position: relative;
}

#cal-prev {
	position: absolute;
	left:0px;
	padding:0 10px 0 10px;
	top:0px;
}
#cal-next {
	position: absolute;
	right:0px;
	padding:0 10px 0 10px;
	top:0px;
}
#cal-op em {
	color:#fa7480;
	font-weight:bold;
}

#cal-op a {
	text-decoration:none;
	color:#fff;
	line-height: 0;
	height:10px;
	width:10px;
	text-align: center;
	padding:12px;
}

#cal { 
	width:100%;
	text-align:center;
}

#cal-box {
	margin:0 10px;
}


/**表头样式**/
#cal .calendar-header {
	background:#fff;
	cursor:default;
}
#cal .calendar-day { 
	color:#878787;
	font-weight:normal;
	height:28px;
	text-align:center;
	font-size:14px;
	padding:5px;
}

/**日期样式**/
#cal table, #cal, td {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

#cal table {
	/*border-collapse:collapse;*/
	width:100%;
}

#cal td.selected {
	background:#eee;
}

#cal td {
	border:1px solid #ddd;
	padding:2px;
	overflow:hidden;
	font-size:18px;
	color:#878787;
	text-align:center;
	cursor:default;
	font-family: arial;
}

#cal td .top {
	width:100%;
	height:5px;
}
#cal td .bottom {
	margin-top:5px;
	width:100%;
	height:10px;
	border-radius:3px;
}

/**日期里星期天**/
#cal .day-sunday {
	border:0;
}

#cal .calendar-date {
	background:#fff;
}

/**今天**/
#cal .calendar-today {
	background:#ffc;
}

#cal td.calendar-not-the-month {
	background:#fff; 
	color:#fff;
}

#cal-ind {
	padding:10px 0;
	background: #eaf9fe;
	border-bottom:1px solid #cde6ef;
	overflow:hidden;
	font-size:12px
}

#cal-ind ul {
	text-align:center;
	float:left;
	position:relative;
	left:50%;
}

#cal-ind li {
	position:relative;
	right:50%;
	float:left;
}
#cal-ind li~li {
	margin-left:20px;
}

#cal-ind .item {
	width:30px;
	display:inline-block;
	height:12px;
	border-radius:5px
}
