body {
	color:#766b6b;
	line-height:1.5em;
  font-family: arial;
  -webkit-touch-callout:none;
  -webkit-user-select: none; 
}
body, td, th {
	font-size:16px;
  -webkit-user-select: none; 
}
.cls:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}

#pageframe {
}

#mainframe, #infoframe {
/*  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;*/
}

.y {
  background:#fee6ad;
}
.g {
  background: #d4e5a2
}
.r {
  background:#fcbfc5;
}