body {font-size:13px;line-height:1.6;color:#333;}
h2 {border-bottom:1px solid #eee;}
ol ol {list-style-type:circle;}
span.item {display:inline-block;margin-left:2px;margin-top:2px;border-radius:3px;-webkit-border-radius:3px;padding:1px;border:1px solid #eee;background:#fcc;}